

.paginaPrincipal {
  
  background-color:#00173f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: white;


  }
  p {
    color:#00dcff;
    text-align: center;
  }
}
