.styledatos {
  ul {
    li {
      a {

        min-width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 2px;
        margin-bottom: 2px;

        .row {
          min-width: 100%;
          border: 1px black solid;
          align-items: center;
          background-color:red;
          .col1 {
            h4 {
              font-size: 1rem;
            }
            background-color:blue;
          }
          .col2 {
            background-color:rgb(118, 109, 241);
            p {
              margin: 0;
              background-color: #009aff;
            }
          }
        }


      }
    }
  }

}