.listItem {

    display: flex;
    flex-direction: column;
    align-items: center;


    h1 {

        color: #3d3a64f5;
    }
    .listItem-Item {

        .accordion-header {
            background-color: blue;

            .accordion-button {

                padding: 0.3rem 0.25rem;

                .row {
                    width: 100%;
                    margin: 0;
                    .col1 {
                        display: flex;
                        align-items: center;
                        justify-content: center;


                        h4 {
                            text-align: center;
                            padding: 0;
                            margin: 0;
                            font-size: 1rem;
                        }
                    }
                    .col2 {
                        border-left: 1px dotted black;
                        display: flex;
                        align-items: center;
                        p {
                            padding: 0;
                            margin: 0;

                        }
                    }

                }
            }


        }

        .accordion-body {
            display: flex;
            justify-content: space-around;


        }

    }
}

