

#offcanvasNavbar {
  background-color: rgba(52, 58, 64, 0.57) !important;

  .btn-close {
    background-color:#fdf5f5;
  }


  .Offcanvas-Body {

    ul {
      li {

        .btn-secondary{
          background-color:#2f332d;
          background-color: #2f332d;
          min-width: 100%;
          min-height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          align-content: center;
        }

        .btn {
          font-size: 0.8rem;
        }

      }
    }

  }
}
